<div class="h-16 md:h-full flex items-center relative xl:text-lg">
    <a href="/" class="h-full" aria-label="Back to home">
        <!-- Include raw SVG to easily change its color -->
        <svg class="h-full px-3 py-2 w-20 cursor-pointer" aria-hidden="true">
            <use href="assets/icon-raw.svg#logo"></use>
        </svg>
    </a>
    <span class="max-lg:hidden">Farkas Gábor e.v.</span>

    <fa-icon [icon]="togglerIcon" size="xl" class="absolute right-3 vertical-center md:hidden" (click)="toggle()"></fa-icon>
</div>

<div class="nav-container max-md:overflow-hidden md:flex md:h-full md:px-20 md:z-10" [ngClass]="{ 'max-md:h-0': !expanded }">
    <nav-dropdown class="md:h-full md:flex items-center" *ngFor="let item of navItems" [label]="item.label" [items]="item.items"></nav-dropdown>
</div>
