<div class="decoration left hidden md:block md:w-1/6 relative" [style]="{'top': decorationRows() * 0.9 / 2 + 'rem'}">
    <ng-container *ngTemplateOutlet="decorationItems; context: {side: 'left'}"></ng-container>
</div>
<div #content class="w-full md:w-4/6 h-fit" (resize)="onResize()">
    <ng-content></ng-content>
</div>
<div class="decoration right hidden md:block md:w-1/6 relative" [style]="{'top': decorationRows() * 0.9 / 2 + 'rem'}">
    <ng-container *ngTemplateOutlet="decorationItems; context: {side: 'right'}"></ng-container>
</div>

<ng-template #decorationItems let-side="side">
    @for(_ of decorationRows() | range; track $index; let rowIdx = $index) {
        <div class="relative flex" [style]="{'--index': rowIdx}">
            @for (_ of decorationColumns() | range; track _; let elemIdx = $index) {
                @if (elemIdx === decorationColumns() - 1 && (side === 'left' ? leftColRefs() : rightColRefs())[rowIdx]) {
                <p class="reference w-fit h-fit" [url]="(side === 'left' ? leftColRefs() : rightColRefs())[rowIdx].url"
                    [flyoutText]="(side === 'left' ? leftColRefs() : rightColRefs())[rowIdx].text"
                    [flyoutOrientation]="side === 'left' ? Orientation().RIGHT : Orientation().LEFT"
                    [flyoutFlip]="side === 'right'">
                    @if ((side === 'left' ? leftColRefs() : rightColRefs())[rowIdx].icon) {
                    <fa-icon size="xl" class="text-primary"
                        [icon]="(side === 'left' ? leftColRefs() : rightColRefs())[rowIdx].icon!" referenceIcon></fa-icon>
                    }
                </p>
                } @else {
                <span class="text-6xl text-primary-accent select-none">&#x2B22;</span>
                }
            }
        </div>
    }
</ng-template>
