.timeline-btn {
    box-shadow: 5px 5px 10px 1px var(--shadow);
}

.timeline-btn:hover {
    color: var(--item-color);
}

.timeline-btn:active {
    box-shadow: inset 5px 5px 10px 1px var(--shadow);
}

.round-hack {
    transform: translateY(101%);
}

.item-bg {
    background-color: var(--item-color);
}

.timeline-item-text {
    transition: max-height 300ms linear;
}

.timeline-item-text.max-h-custom {
    max-height: 35rem;
}

.opacity-delay.opacity-0 {
    transition: opacity 0ms 300ms linear;
}
