<div class="relative w-full h-full overflow-hidden">
    <div class="w-full h-full scene-long">
        <div class="flex flex-col w-full h-full">
            <div class="wall w-full"></div>
            <div class="skirt w-full"></div>
            <div class="floor w-full flex justify-end items-end">
                <div class="attribution">
                    <a href="http://www.freepik.com">Adapted from designs by upklyak / macrovector / Freepik</a>
                </div>
            </div>
        </div>
        <img class="absolute top-0 left-12 h-2/4 max-w-2/5" src="assets/blackboard.png">
        <img class="absolute bottom-0 left-0 h-3/5" src="assets/scientist.png">
        <div class="h-3/5 w-2/4 absolute hero-background flex items-center justify-center">
            <img class="hero max-h-3/5 cursor-pointer" [ngClass]="{'animate-shrink': animating}" [src]="'assets/' + heroImg + '.png'"
                (click)="toggleHero()">
        </div>
        <div class="bg-frame absolute h-3/5 w-2/4 top-0 right-0 pointer-events-none"></div>
    </div>
</div>
