.hero-background {
    background-image: url('/assets/superheroes-bg.jpg');
    background-repeat: repeat;
    background-size: auto 100%;
    background-position: 0 0;
    animation: scrollBg 5s linear infinite;
    border-radius: 10px;
}

.bg-frame {
    border: 5px solid black;
    border-radius: 5px;
}

.wall {
    background-color: aliceblue;
    height: 73%;
}

.skirt {
    background-color: burlywood;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    height: 2%;
}

.floor {
    background-color: burlywood;
    height: 25%;
}

@keyframes scrollBg {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 143% 0;
    }
}
