.hero {
    transition: transform 500ms linear;
}

.hero.animate-shrink {
    transform: scale(0);
}

.hero.animate-fly {
    transform: translateY(-500%);
}

.hero-background {
    background-image: url('/assets/superheroes-bg.jpg');
    background-repeat: repeat;
    background-size: auto 100%;
    background-position: 0 0;
    animation: scrollBg 50s linear infinite;
    top: 5px;
    right: 5px;
}

.bg-frame {
    border: 5px solid black;
    border-bottom-width: 15px;
    border-radius: 5px;
    box-sizing: content-box;
}

.wall {
    background-color: aliceblue;
    height: 73%;
}

.skirt {
    background-color: burlywood;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    height: 2%;
}

.floor {
    background-color: burlywood;
    height: 25%;
}

@keyframes scrollBg {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 1550% 0;
    }
}

/* Scene-specific CSS */
/* Long-term partnership */
.scene-long {
    transform-origin: top right;
    animation: zoomOut 7s linear;
    overflow: hidden;
}

@keyframes zoomOut {
    0% {
        transform: scale(210%) translate(2%, -8%);
    }
    80% {
        transform: scale(210%) translate(2%, -8%);
    }
    100% {
        transform: scale(1) translate(1);
    }
}

.hero-text {
    bottom: 10%;
    left: 7%;
}

.hero-arrow {
    opacity: 0;
    right: 5%;
    bottom: 120%;
    animation: appear 1s 2s forwards;
}

@keyframes appear {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.scientist-text {
    bottom: 20%;
    left: 80%;
}

@media not all and (min-width: 640px) {
    .scientist-text {
        width: 130%;
    }
}

/* Counseling */
.counsel-bg {
    background-image: url('/assets/data-center.jpg');
    background-size: 100% 100%;
}

.scene-counsel .hero {
    right: 40%;
    animation: punch 10s infinite;
    opacity: 0;
}

.scene-counsel .hero-punch {
    animation: punch 10s 5s infinite;
}

@keyframes punch {
    0% {
        opacity: 0;
    }
    1% {
        opacity: 1;
    }
    49% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    99% {
        opacity: 0;
    }
}

.bug {
    left: 60%;
    top: 0;
    height: 40%;
    transform: rotate(-45deg);
}

.bug-eye {
    opacity: 0;
    animation: blink 10s infinite;
}

@keyframes blink {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    60% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

/* Research scene */
.frame-wall {
    animation: panRight 5s forwards, zoomIn 5s 5s forwards;
}

.research-text {
    top: 50%;
    left: 45%;
}

.research-text img {
    left: 6rem;
    top: -2rem;
    opacity: 0;
    animation: appear 1s 10s forwards;
}

@media (min-width: 640px) {
    .research-text img {
        left: -1.2rem;
        top: -1rem;
    }
}

@keyframes panRight {
    0% {
        right: -100%;
    }
    100% {
        right: calc(100% - 4.7rem);
    }
}

@keyframes zoomIn {
    0% {
        transform: scale(1) translate(1);
    }
    100% {
        transform: scale(3.5) translate(-32.5%, 4.5%);
    }
}
