.example {
    position: relative;
}

.example::after {
    content: '▶';
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

td {
    padding: 0.5rem 0;
}

td, th {
    padding-left: 1rem;
}

td > div {
    margin: auto;
}
