<div class="max-w-8xl m-auto pt-6 md:px-6">
    <h1>Books</h1>
    <section class="pb-12">
        <img src="/assets/mastering_ol3.jpg" class="w-48 pb-4">
        <a href="https://www.packtpub.com/en-us/product/mastering-openlayers-3-9781785281006" target="_blank">Farkas, G.
            (2016). Mastering OpenLayers 3. Packt Publishing Ltd. 285 p.</a>
        <p class="pb-6 pt-2">This book was my first serious contribution to IT literature. The syntax, the examples, and
            all the code are heavily outdated. The principles and the philosophy behind OpenLayers discussed in this
            book are still sound, though.</p>

        <img src="/assets/practical_gis.jpg" class="w-48 pb-4">
        <a href="https://www.packtpub.com/en-us/product/practical-gis-9781787123328" target="_blank">Farkas, G. (2017).
            Practical GIS. Packt Publishing Ltd. 372 p.</a>
        <p class="pb-6 pt-2">As usual, I accumulated, synthesized, and distilled all the teaching, research, and
            business experience I had at the time about good GIS practices. This book can still be relevant if you are
            open to extending your open-source GIS toolkit beyond QGIS and willing to put some energy into it.</p>

        <p>I might have some excess digital copies if you ask nicely.</p>
    </section>
    <h1>Scientific articles</h1>
    <section class="pb-12">
        <p class="pb-6">
            <a href="/assets/pub/farkas_g_normalizalt_indexek_baranya.pdf" target="_blank">Farkas, G. (2015).
                Normalizált indexek alkalmazhatósága automatikus területi klasszifikációhoz Magyarországon Baranya megye
                példáján. Természetföldrajzi Közlemények, 4(1), pp. 13-21.</a>
        </p>


        <p class="pb-6">
            <a href="/assets/pub/farkas_g_applicability_web_mapping_massive_webgis_clients.pdf" target="_blank"
                class="pb-6">Farkas, G. (2017). Applicability of open-source web mapping libraries for building massive
                Web GIS clients. Journal of Geographical Systems, 19(3), pp. 273-295.</a>
        </p>

        <p class="pb-6">
            <a href="/assets/pub/farkas_g_towards_visualizing_coverages_on_the_web.pdf" target="_blank">Farkas, G.
                (2018). Towards visualizing coverage data on the Web. Az elmélet és a gyakorlat találkozása a
                térinformatikában ix.: Theory meets practice in gis, pp. 107-113.</a>
        </p>

        <p class="pb-6">
            <a href="/assets/pub/bugya_t_etal_alternative_raster_display.pdf" target="_blank">Bugya, T., & Farkas, G.
                (2018). An Alternative Raster Display Model. In: Cédric, Grueau; Robert, Laurini; Lemonia, Ragia (eds.)
                Proceedings of the 4th International Conference on Geographical Information Systems Theory, Applications
                and Management: GISTAM, pp. 262-268.</a>
        </p>

        <p class="pb-6">
            <a href="/assets/pub/farkas_g_hardware_accelerating_web_maps.pdf" target="_blank">Farkas, G. (2019).
                Hardware-Accelerating 2D Web Maps: A Case Study. Cartographica: The International Journal for Geographic
                Information and Geovisualization, 54(4), pp. 245-260.</a>
        </p>

        <p class="pb-6">
            <a href="/assets/pub/hervai_a_etal_groundwater_mohacs.pdf" target="_blank">Hervai, A., Farics, É., Sisák,
                I., Farkas, G., Kovács, J., & Lóczy, D. (2020). Influence of Flood Waves, Production Wells, and
                Precipitation on Shallow Groundwater Using a Linear Regression Model Approach Based on a Case Study of
                Mohács Island, Hungary. Water, 12(5), 1359.</a>
        </p>

        <p class="pb-6">
            <a href="/assets/pub/farkas_g_raster_data_client_side_web_maps.pdf" target="_blank">Farkas, G. (2020).
                Possibilities of using raster data in client-side web maps. Transactions in GIS, 24(1), pp. 72-84.</a>
        </p>

        <p class="pb-6">
            <a href="/assets/pub/farkas_g_foundations_universal_client_web_gis.pdf" target="_blank">Farkas, G. (2020). Creating the foundations of a universal client-side Web GIS system. Doctoral dissertation, University of Pécs. 121 p.</a>
        </p>

        <p>All articles in the list are available in PDF format by clicking on them.</p>
    </section>
</div>
