<div class="h-12 flex flex-row justify-between">
    <nav class="ml-4">
        <span class="cabin-sketch text-2xl">CartoSandbox</span>
    </nav>
    <div class="h-full hidden lg:flex items-center gap-6 mr-4">
        @if (canDelete) {
        <fa-icon [icon]="faTrash" title="Delete current snippet" class="cursor-pointer text-red-700" (click)="deleteSnippet()" />
        }
        <fa-icon [icon]="faFloppyDisk" title="Save as new snippet" class="cursor-pointer"
            (click)="openSaveDialog()" />
        <select [reset]="'0'" (change)="loadCodeSnippetAsync($event.target)">
            <option value="0" class="text-gray-400">Load snippet</option>
            <ng-container
                *ngTemplateOutlet="loadCodeOptions; context: { items: this.availableCodes[this.library]?.children }" />
        </select>
        <div class="flex items-center select-none cursor-pointer" (click)="runCode()">
            <fa-icon [icon]="faPlay" class="text-green-900 pr-2" size="1x" />
            <span>Run code</span>
        </div>
        <select [(ngModel)]="library">
            @for (library of WebMappingLibrary | keyvalue; track library.key) {
            <option [value]="library.value">{{library.value}} (v{{libraryVersions[library.value]}})</option>
            }
        </select>
    </div>
</div>
<div class="flex-grow flex items-center">
    <div class="no-phone px-6 w-full lg:hidden flex flex-col items-center" [minWidth]="1024"></div>
    <div #sandboxContent class="hidden lg:flex flex-row w-full h-full">
        @defer (on viewport(sandboxContent)) {
        <div class="code-editor w-1/2 h-full" [definitions]="extraTypes" [(value)]="currentCode"></div>
        <div class="w-1/2 h-full">
            <iframe #webMap class="w-full h-full" [src]="webMapUrl"></iframe>
        </div>
        }
    </div>
</div>

<ng-template #loadCodeOptions [types]="openCodeTemplateTypes" let-items="items">
    @for(item of items; track item.name) {
    @if (item.children) {
    <optgroup [label]="item.name" [class]="'depth-' + item.depth"></optgroup>
    <ng-container *ngTemplateOutlet="loadCodeOptions; context: { items: item.children }" />
    } @else {
    <option [value]="item.name" [dataValue]="item">{{item.name}}</option>
    }
    }
</ng-template>

<dialog class="modal" windowTitle="Save snippet as" (closed)="cancelSave()">
    <div class="p-6 h-full flex flex-col justify-center items-center bg-primary">
        <p class="text-center text-lg">This function will save the current state of the code editor in your browser's
            local
            storage. Please name it in the field below as you would like to see it in the snippet selector menu.</p>

        <input class="border rounded my-4 w-3/4 p-1" type="text" [(ngModel)]="saveSnippetName"
            placeholder="Your snippet's name" required>

        <p class="text-center">You can always delete saved snippets with the delete button after opening them. Changes
            in saved snippets are automatically saved every 5 seconds. Local code snippets are associated with the web
            mapping library they were created with. If you cannot find a local save in the snippet selector, please
            check
            if the library setting is correct.</p>

        <div class="flex gap-6 pt-12">
            <button class="btn w-24" (click)="saveSnippet()">Save</button>
            <button class="btn w-24" (click)="cancelSave()">Cancel</button>
        </div>
    </div>

</dialog>
