@if (!compact) {
<div class="flex">
    <div class="w-full w-4/5 sm:w-full lg:w-3/6 text-sm sm:text-lg flex justify-center text-primary">
        <div class="grid grid-rows-3 md:grid-cols-2 gap-2 sm:gap-5 pb-10 pt-14 items-center justify-items-center">
            <svg class="px-3 w-20 h-16">
                <use href="assets/icon-raw.svg#logo"></use>
            </svg>
            <span class="justify-self-start">Farkas Gábor e.v.</span>
            <fa-icon [icon]="marker" size="lg"></fa-icon>
            <span class="justify-self-start">Pécs, Hungary</span>
            <fa-icon [icon]="email" size="lg"></fa-icon>
            <div class="relative justify-self-start cursor-pointer">
                <span class="email" [ngClass]="{'copied': singleClick}"
                    title="Click to copy to clipboard, double click to write an email" (click)="copyToClipboard()"
                    (dblclick)="openEmail()">
                    <span>&#64;</span>
                </span>
                <span class="absolute w-full h-full top-0 left-0 hidden justify-center items-center"
                    [ngClass]="{'copied': singleClick}">Copied to clipboard</span>
            </div>
            <span class="lg:hidden col-span-2 px-2 text-center">(Click to copy to clipboard, double click to write an
                email)</span>
        </div>

    </div>
    <div #mapContainer class="hidden lg:block lg:w-3/6 max-h-full">
        @defer (on viewport(mapContainer)) {
        <footer-map class="h-full"></footer-map>
        }
    </div>
</div>
}
<p class="text-primary text-sm py-2 text-center px-2" [ngClass]="{'hidden md:block': compact}">Copyright © 2024 Gábor Farkas | Hosted by GitHub Pages</p>
<a href="https://dashboard.simpleanalytics.com/farkasgaborev.eu?utm_source=farkasgaborev.eu&utm_content=badge"
    referrerpolicy="origin" target="_blank" class="flex justify-center">
    <picture>
        <source srcset="https://simpleanalyticsbadges.com/farkasgaborev.eu?mode=light"
            media="(prefers-color-scheme: light)" />
        <img class="h-8" src="https://simpleanalyticsbadges.com/farkasgaborev.eu?mode=light" loading="lazy"
            referrerpolicy="no-referrer" crossorigin="anonymous" />
    </picture>
</a>
@if (compact) {
<div class="hidden md:block text-primary">
    <fa-icon [icon]="email" size="lg"></fa-icon>
    <span class="email pl-2 cursor-pointer" [ngClass]="{'copied': singleClick}"
        title="Click to copy to clipboard, double click to write an email" (click)="copyToClipboard()"
        (dblclick)="openEmail()">
        <span>&#64;</span>
    </span>
</div>
}
