#map {
    width: 800px;
    height: 500px;
}

.olControlAttribution {
    bottom: 5px !important;
}

.benchmarkOutput {
    width: 800px;
    height: 200px;
    border: 1px solid grey;
    overflow-y: scroll;
    white-space: pre-line;
}

.col-lg-12 p {
    min-width: 150px;
    display: inline-block;
}

.ol-attribution ul {
    font-size: .7em !important;
}

button[disabled] {
    color: grey;
}

.sidebar-nav li ul li ul {
    list-style-type: decimal;
}