/* You can add global styles to this file, and also import other style files */

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary-color: #eaf8fe;
    --primary-accent: #0284c7;
    --secondary-color: rgb(254 252 232);
    --secondary-accent: rgb(253 224 71);
    --shadow: rgb(120 113 108);
}

html,
body {
    height: 100%;
}

@media (min-width: 2000px) {
    html {
        font-size: 120%;
    }
}

@media (min-width: 2500px) {
    html {
        font-size: 150%;
    }
}

@media (min-width: 3000px) {
    html {
        font-size: 180%;
    }
}

body {
    margin: 0;
    font-family: "Spectral", "Times New Roman", "Helvetica Neue", serif;
    font-weight: 400;
    font-style: normal;
}

.cabin-sketch {
    font-family: "Cabin Sketch", sans-serif;
    font-style: normal;
}

h1, h2, h3, h4, h5, h6, th {
    font-family: "Chivo", "Arial", sans-serif;
    font-weight: 600;
}

h1 {
    font-size: 1.5rem;
    line-height: 2rem;
    padding-bottom: 1rem;
}

p, ul {
    text-align: justify;
}

@layer utilities {
    .vertical-center {
        top: 50%;
        transform: translateY(-50%);
    }

    .bg-primary {
        background-color: var(--primary-color);
    }

    .bg-secondary {
        background-color: var(--secondary-color);
    }

    .bg-primary-accent {
        background-color: var(--primary-accent);
    }

    .bg-secondary-accent {
        background-color: var(--secondary-accent);
    }

    .text-primary {
        color: var(--primary-color);
    }

    .text-primary-accent {
        color: var(--primary-accent);
    }

    .text-secondary {
        color: var(--secondary-color);
    }

    .text-secondary-accent {
        color: var(--secondary-accent);
    }

    .max-h-3\/5 {
        max-height: 60%;
    }

    .max-w-3\/5 {
        max-width: 60%;
    }

    .max-w-2\/5 {
        max-width: 40%;
    }

    .max-w-8xl {
        max-width: 90rem;
    }

    .remove-bg {
        background-image: none !important;
    }

    .blur-xs {
        filter: blur(2px);
    }

    .h-full-10 {
        height: calc(100% - 2.5rem);
    }
}

.maplibregl-ctrl button.maplibregl-ctrl-building .maplibregl-ctrl-icon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 384 512'%3E%3C!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--%3E%3Cpath d='M64 48c-8.8 0-16 7.2-16 16V448c0 8.8 7.2 16 16 16h80V400c0-26.5 21.5-48 48-48s48 21.5 48 48v64h80c8.8 0 16-7.2 16-16V64c0-8.8-7.2-16-16-16H64zM0 64C0 28.7 28.7 0 64 0H320c35.3 0 64 28.7 64 64V448c0 35.3-28.7 64-64 64H64c-35.3 0-64-28.7-64-64V64zm88 40c0-8.8 7.2-16 16-16h48c8.8 0 16 7.2 16 16v48c0 8.8-7.2 16-16 16H104c-8.8 0-16-7.2-16-16V104zM232 88h48c8.8 0 16 7.2 16 16v48c0 8.8-7.2 16-16 16H232c-8.8 0-16-7.2-16-16V104c0-8.8 7.2-16 16-16zM88 232c0-8.8 7.2-16 16-16h48c8.8 0 16 7.2 16 16v48c0 8.8-7.2 16-16 16H104c-8.8 0-16-7.2-16-16V232zm144-16h48c8.8 0 16 7.2 16 16v48c0 8.8-7.2 16-16 16H232c-8.8 0-16-7.2-16-16V232c0-8.8 7.2-16 16-16z'/%3E%3C/svg%3E");
    background-size: 1.5em;
}

.maplibregl-ctrl button.maplibregl-ctrl-building-enabled .maplibregl-ctrl-icon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%2333b5e5' viewBox='0 0 384 512'%3E%3C!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--%3E%3Cpath d='M64 48c-8.8 0-16 7.2-16 16V448c0 8.8 7.2 16 16 16h80V400c0-26.5 21.5-48 48-48s48 21.5 48 48v64h80c8.8 0 16-7.2 16-16V64c0-8.8-7.2-16-16-16H64zM0 64C0 28.7 28.7 0 64 0H320c35.3 0 64 28.7 64 64V448c0 35.3-28.7 64-64 64H64c-35.3 0-64-28.7-64-64V64zm88 40c0-8.8 7.2-16 16-16h48c8.8 0 16 7.2 16 16v48c0 8.8-7.2 16-16 16H104c-8.8 0-16-7.2-16-16V104zM232 88h48c8.8 0 16 7.2 16 16v48c0 8.8-7.2 16-16 16H232c-8.8 0-16-7.2-16-16V104c0-8.8 7.2-16 16-16zM88 232c0-8.8 7.2-16 16-16h48c8.8 0 16 7.2 16 16v48c0 8.8-7.2 16-16 16H104c-8.8 0-16-7.2-16-16V232zm144-16h48c8.8 0 16 7.2 16 16v48c0 8.8-7.2 16-16 16H232c-8.8 0-16-7.2-16-16V232c0-8.8 7.2-16 16-16z'/%3E%3C/svg%3E");
    background-size: 1.5em;
}

.maplibregl-ctrl .maplibregl-ctrl-toggler {
    width: 58px;
}

.maplibregl-ctrl .maplibregl-ctrl-toggler .maplibregl-ctrl-icon {
    background-color: gainsboro;
    border-radius: 5px;
    width: 25px;
    height: 25px;
    position: relative;
    left: 2px;
    transition: transform 100ms linear;
}

.maplibregl-ctrl .maplibregl-ctrl-toggler.right .maplibregl-ctrl-icon {
    transform: translateX(29px);
}

.maplibregl-ctrl .maplibregl-ctrl-toggler.watercolor .maplibregl-ctrl-icon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%2333b5e5' viewBox='0 0 512 512'%3E%3C!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--%3E%3Cpath d='M512 256c0 .9 0 1.8 0 2.7c-.4 36.5-33.6 61.3-70.1 61.3H344c-26.5 0-48 21.5-48 48c0 3.4 .4 6.7 1 9.9c2.1 10.2 6.5 20 10.8 29.9c6.1 13.8 12.1 27.5 12.1 42c0 31.8-21.6 60.7-53.4 62c-3.5 .1-7 .2-10.6 .2C114.6 512 0 397.4 0 256S114.6 0 256 0S512 114.6 512 256zM128 288a32 32 0 1 0 -64 0 32 32 0 1 0 64 0zm0-96a32 32 0 1 0 0-64 32 32 0 1 0 0 64zM288 96a32 32 0 1 0 -64 0 32 32 0 1 0 64 0zm96 96a32 32 0 1 0 0-64 32 32 0 1 0 0 64z'/%3E%3C/svg%3E");
    background-size: 1.5em;
}

.maplibregl-ctrl .maplibregl-ctrl-toggler.watercolor {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 576 512'%3E%3C!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--%3E%3Cpath d='M384 476.1L192 421.2V35.9L384 90.8V476.1zm32-1.2V88.4L543.1 37.5c15.8-6.3 32.9 5.3 32.9 22.3V394.6c0 9.8-6 18.6-15.1 22.3L416 474.8zM15.1 95.1L160 37.2V423.6L32.9 474.5C17.1 480.8 0 469.2 0 452.2V117.4c0-9.8 6-18.6 15.1-22.3z'/%3E%3C/svg%3E");
    background-size: 1.5em;
    background-position: 34px;
    background-repeat: no-repeat;
}

.maplibregl-ctrl .maplibregl-ctrl-toggler.topographic .maplibregl-ctrl-icon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%2333b5e5' viewBox='0 0 576 512'%3E%3C!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--%3E%3Cpath d='M384 476.1L192 421.2V35.9L384 90.8V476.1zm32-1.2V88.4L543.1 37.5c15.8-6.3 32.9 5.3 32.9 22.3V394.6c0 9.8-6 18.6-15.1 22.3L416 474.8zM15.1 95.1L160 37.2V423.6L32.9 474.5C17.1 480.8 0 469.2 0 452.2V117.4c0-9.8 6-18.6 15.1-22.3z'/%3E%3C/svg%3E");
    background-size: 1.5em;
}

.maplibregl-ctrl .maplibregl-ctrl-toggler.topographic {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3C!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--%3E%3Cpath d='M512 256c0 .9 0 1.8 0 2.7c-.4 36.5-33.6 61.3-70.1 61.3H344c-26.5 0-48 21.5-48 48c0 3.4 .4 6.7 1 9.9c2.1 10.2 6.5 20 10.8 29.9c6.1 13.8 12.1 27.5 12.1 42c0 31.8-21.6 60.7-53.4 62c-3.5 .1-7 .2-10.6 .2C114.6 512 0 397.4 0 256S114.6 0 256 0S512 114.6 512 256zM128 288a32 32 0 1 0 -64 0 32 32 0 1 0 64 0zm0-96a32 32 0 1 0 0-64 32 32 0 1 0 0 64zM288 96a32 32 0 1 0 -64 0 32 32 0 1 0 64 0zm96 96a32 32 0 1 0 0-64 32 32 0 1 0 0 64z'/%3E%3C/svg%3E");
    background-size: 1.5em;
    background-position: 6px;
    background-repeat: no-repeat;
}

.attribution {
    font-size: 0.75rem;
    z-index: 2;
}

.attribution > * {
    margin: 0.25rem;
}

.opaque-bg {
    background-color: #ffffff99;
    border-radius: 10px;
}

.btn {
    border-radius: 5px;
    background-color: var(--secondary-accent);
    padding: 0.3rem 1.5rem;
    transition: filter 100ms linear;
}

.btn:hover {
    filter: brightness(0.9);
}

/* Angular bug rules */

/* Hero scene (research) 2nd animation is not scoped properly */
@keyframes heroSceneResearchZoomIn {
    0% {
        transform: scale(1) translate(1);
    }
    100% {
        transform: scale(3.5) translate(-32.5%, 4.5%);
    }
}
