.prefix-container {
    border-bottom: 2px dashed var(--primary-color);
}

.header {
    border-radius: 0;
}

p {
    max-height: 0;
    overflow-y: hidden;
    border-left: 3px solid var(--primary-accent);
    border-right: 3px solid var(--primary-accent);
    transition: all 300ms linear;
}

p.expanded {
    max-height: 40rem;
}

.prefix {
    transform: scale(0);
    transform-origin: center;
    transition: transform 200ms linear;
}

.prefix.expanded {
    transform: none;
    transition: transform 200ms 300ms linear;
}
